<dict>
	<key>cell</key>
	<string>PSButtonCell</string>
	<key>cellClass</key>
	<string>XXXColorPickerCell</string>
	<key>fallbackHex</key>        #This cell supports both of the hex formatting styles '#RRGGBBAA'
	<string>#FFFFFF:100</string>  #and '#RRGGBB:AA', but saves as only '#RRGGBBAA'
	<key>supportsAlpha</key>      #Enable or disable Alpha
	<true/>
	<key>defaults</key>
	<string>com.company.tweak</string>
	<key>key</key>
	<string>key</string>
	<key>default</key>
	<string>#000000:80</string>
	<key>label</key>
	<string>Color Picker</string>
	<key>PostNotification</key>
	<string>com.company.tweak/ReloadPrefs</string>
</dict>
