<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>XXXLabeledSliderCell</string>
			<key>defaults</key>
			<string>com.company.tweak</string>
			<key>key</key>
			<string>key</string>
			<key>default</key>
			<string>15</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>30</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>								<!-- The label will be used for the label above the slider -->
			<string>Corner Radius</string>
			<key>localizationTable</key>		<!-- Optional key used for localization -->
			<string>Root</string>
			<key>PostNotification</key>
			<string>com.company.tweak/ReloadPrefs</string>
		</dict>
	</array>
</dict>
</plist>
